/*========================*/
/*
    FORMATANDO A ESTRUTURA DO SITE
*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;}

body{
    width: 100%;
    height: 100vh;
    background: url('parte-de-fundo.jpg') no-repeat center;}

h1{
    background-color: hsl(290, 100%, 63%);
    margin-bottom: 20px;
    line-height: 1.5em;
    }

form{
    padding: 10px;}

input{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 1.9em;
    margin-bottom: 10px;
    border: none;
    padding-left: 10px;
    background-repeat: no-repeat;
    background-position: 10px;
    }

fieldset{
    padding: 10px;
    margin-bottom: 20px;}

textarea{
    width: 50%;
    height: 100px;}

/*========================*/
/*
    FORMATANDO O CONTEUDO DO SITE
*/
#container{
    border: solid 5px rgb(150, 1, 255);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    width: 550px;
    margin-top: 50px;
    background: #d9d9d9;
    min-width: 550px;
    }

#container h1{
    text-align: center;}

.icon-login{
    text-align: center;
    margin-top: -30px;
    }

.sobrenome, .number-home, .cep{
    margin-left: 15px;}

.number-home input,
.cep input{
    width: 40px;}

.conteudo-centralizado{
    text-align: center;
    }

.conteudo-centralizado input{
    padding-left: 40px;
    width: 60%;
    padding-right: 100px;
    }

.email{
    background-image: url('icone-usuario.png');
    line-height: 2.1em;
    }

.senha{
    background-image: url('icone-cadeado.png');
    line-height: 2.1em;}

.number{
    background-image: url('iphone.png');
    line-height: 2.1em;
    background-position: 5px;}

.interesses input{
    margin-left: 20px;}


.submite, .reset{
    margin-top: 20px;
    margin-left: 35px;
    border: 3px solid #e600e6;
    width: 200px;
    cursor: pointer;
    text-align: center;
    line-height: 1.9em;
    color: #fff;
    background-color: hsl(290, 100%, 63%);}

.submite:hover, .reset:hover{
    color: black;
    background: #ff4dff;}

.rodape{
    width: 100%;
    height: 50px;
    background-color: hsl(290, 100%, 63%);
    opacity: 0.7;
    margin-top: 100px;
    position: fixed;
    bottom: 0%;}

.cabecalho{
    text-align: center;
    font-weight: bold;
    color: #fff;
    opacity: 1;
    padding-top: 20px;}

.genero, .interesse{
    margin-right: 10px;
    margin-left: 5px;}